In [1]:
import pandas as pd

df = pd.read_csv("Credit.csv")

In [3]:
df.head(20)

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,6,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
6,7,20.996,3388,259,2,37,12,Female,No,No,African American,203
7,8,71.408,7114,512,2,87,9,Male,No,No,Asian,872
8,9,15.125,3300,266,5,66,13,Female,No,No,Caucasian,279
9,10,71.061,6819,491,3,41,19,Female,Yes,Yes,African American,1350
10,11,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian,1407
11,12,15.045,1311,138,3,64,16,Male,No,No,Caucasian,0
12,13,80.616,5308,394,1,57,7,Female,No,Yes,Asian,204
13,14,43.682,6922,511,1,49,9,Male,No,Yes,Caucasian,1081
14,15,19.144,3291,269,2,75,13,Female,No,No,African American,148
15,16,20.089,2525,200,3,57,15,Female,No,Yes,African American,0
16,17,53.598,3714,286,3,73,17,Female,No,Yes,African American,0
17,18,36.496,4378,339,3,69,15,Female,No,Yes,Asian,368
18,19,49.570,6384,448,1,28,9,Female,No,Yes,Asian,891
19,20,42.079,6626,479,2,44,9,Male,No,No,Asian,1048